# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.w5-t2.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admins\Desktop\Unity\Training\w5-t2\.idea\.idea.w5-t2\.idea/dataSources/
/dataSources.local.xml
